section.container {
  color: white;
  padding-left: 200px;
  padding-top: 120px;
  height: 100%;
  width: 100%;
}

.loader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 50px;
}

.movie__nav {
  margin-left: 25px;
}